HsSystembox.sdf
HsSystembox.sdf
HsSystembox.suo
HsSystembox.sdf
*.sdf
*.suo
HsSystembox.sdf
HsSystembox.sdf
HsSystembox.suo
ipch/hssystembox-6285547d/hssystembox-f7ffc1ef.ipch
Release/DefinicoesGlobais.obj
Release/EmoHandler.obj
Release/HsSystembox.log
Release/hstcppollcomm.obj
*.obj
ipch/hssystembox-6285547d/hssystembox-f7ffc1ef.ipch